<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand nav_title" href="#">FanBase</a>
    <button *ngIf="tokenService.loggedIn" class="btn btn-outline-success my-2 my-sm-0" id="createLocation" type="button" (click)="modalService.toggleLocationModal()">New Location!</button >

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

      </ul>
      <form class="form-inline my-2 my-lg-0">
        <button *ngIf="tokenService.loggedIn === false" class="btn btn-outline-success my-2 my-sm-0" id="loginBtn" type="button" (click)="modalService.toggleLoginModal()">Log in</button >
          <button *ngIf="tokenService.loggedIn"class="btn btn-outline-success my-2 my-sm-0" id="loginBtn" type="button" (click)="logoff()">Log off</button >
        <button  *ngIf="tokenService.loggedIn === false"class="btn btn-outline-success my-2 my-sm-0" id="signUpBtn" type="button" (click)="modalService.toggleSignupModal()">Sign up</button >
      </form>
    </div>