<app-navbar></app-navbar>
      
      <!--**************  Jumbo   **************-->   

      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <div class="jumboText">
            <h1 class="display-3 head">Where To Watch</h1>
            <p class="lead">Helping you find the closest place to watch your favorite teams!</p>
            <form class="form-inline my-2 my-lg-0 jumbo">
                <input class="form-control mr-sm-2 teamSearch" type="search" placeholder="Team">
                <input class="form-control mr-sm-2 locSearch" type="search" placeholder="Location">
                <a class="btn btn-info btn-lg" (click) = "test()" href="result.html" role="button">Search</a>
            </form>
          </div>
        </div>
    </div>
    
    <app-footer></app-footer>


    <!-- The Modal -->
<div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
          <p>Please Enter Username and Password to Login</p>
          <label class="form-check-label" for="loginUserName">Username</label>
          <input id="loginUserName"class="form-control mr-sm-2 loginField" type="search"  placeholder="Username" >
          <label class="form-check-label" for="loginUserpassword">Password</label>
          <input id="loingUserpassword"class="form-control mr-sm-2 loginField" type="password" placeholder="Password" >
          <button class="btn btn-outline-success my-2 my-sm-0" id="submitLoginBtn" type="submit">Submit</button>
          <button class="btn btn-outline-danger my-2 my-sm-0" id="exitLoginBtn" type="submit">Exit</button>
        </div>
      </div>
    
