/* Media Queries */
@media (max-width: 767.98px) { 
    
    .modal-content {
        width: 100%;
    }
}

@media (max-width: 575.98px) {
    .head {
        margin-top: 15%;
        font-size: 30px;
    }

    .teamSearch {
        margin-bottom: 5px;
    }
    .locSearch {
        margin-bottom: 10px;
    }

    .card-img-top{
        height: 100%;
    }

    .jumbotron{
        background-color: gray;
    }
  
    .body{
        font-family: 'Montserrat', sans-serif;
    }
}