 
  <div id="myModal" class="modal" *ngIf="modalService.returnShowLoginModal()">
    <div class="modal-content">
      <h1>Login</h1>
      <label class="form-check-label" for="loginUserName">Username</label>
      <input [(ngModel)] ="username" id="loginUserName"class="form-control mr-sm-2 loginField" type="search"  placeholder="Username" >
      <label class="form-check-label" for="loginUserpassword">Password</label>
      <input [(ngModel)] ="password"id="loingUserpassword"class="form-control mr-sm-2 loginField" type="password" placeholder="Password" >
      <button class="btn btn-outline-success my-2 my-sm-0" id="submitLoginBtn" type="button"(click)="signIn()">Submit</button>
      <button class="btn btn-outline-danger my-2 my-sm-0" id="exitLoginBtn" type="button" (click) = "modalService.toggleLoginModal()">Exit</button>
    </div>
  </div>